.todo-container {
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem 1rem;
    width: 30%;
    min-width: 250px;
    height: 120px;
    box-shadow: 5px 5px 5px #00000052;
    text-align: center;
}

.todo-options {
    display: flex;
    margin-top: 40px;
}

p {
    margin: auto;
}